@using CurrenciesTaskApi.Data.Models
@using CurrenciesTaskApi.Data.ViewModels

@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@model CurrencyListViewModel 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" >Currencies</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    </ul>
                </div>
            </div>
            @if (Model.Currencies.Count != 0)
            {
                <a class="btn-outline-secondary" asp-controller="CurrencyList" asp-action="Update">Update Currencies</a>
            }
        </nav>
    </header>


    <div class="container " style="margin-top: 5rem">
        
        @if (Model.Currencies.Count != 0)
        {
            <form asp-controller="CurrencyItem" asp-action="AddRecord" method="post">
                <div class="mb-3 row">
                    <label for="" class="col-form-label col-sm-2">Currency Name:</label>
                    <div class="col-md-5">
                        <select type="text" id="CurrencyCode" name="CurrencyCode" class="form-select">
                            @{
                                foreach (var record in Model.Currencies)
                                {
                                                                                        <option value="@record.Cur_Abbreviation">@record.Cur_Name</option>
                                }
                            }

                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-form-label col-sm-2" id = "DateFromLabel">From:</label>
                <div class="col-md-5">
                    <input type="date" id="DateFrom" name="RateDateFrom" class="form-control" onchange="OnDateFromChange (this)" />
                </div>
            </div>

            
            <div class="mb-3 row" sstyle="visibility-hidden">
                
                <label class="col-form-label col-sm-2" id = "DateToLabel">To:</label>
                <div class="col-md-5">
                    <input type="date" id="DateTo" name="RateDateTo" class="form-control" onchange="OnDateToChange (this)"/>
                </div>
            </div>
            <button class="btn btn-secondary" onclick="buttonClick (this)" type="button">Select a range</button>
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
        } else { <a class="btn btn-secondary" asp-controller="CurrencyList" asp-action="Update">Update Currencies</a>}

        @if (Model.Ondates.Count != 0)
        {
            <div class="container my-5">
                @using (Html.BeginForm())
                {
                    <p>
                        Filter: @Html.TextBox("SearchString")  
                        <input type="submit" value="Search" />
                    </p>
                }
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Currency Abbreviation", "Index", new{sortOrder = ViewBag.CurrencySortParam})
                            </th>
                            <th>
                                Official Rate
                            </th>
                            <th>
                                @Html.ActionLink("Date", "Index", new {sortOrder = ViewBag.DateSortParam})
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var record in Model.Ondates)
                            {
                                                                     <tr>
                                                                        <th>
                                                                            @record.CODE
                                                                         </th> 
                                                                        <th>
                                                                            @record.Cur_OfficialRate
                                                                        </th> 
                                                                        <th>
                                                                            @record.Date.ToString("dd.MM.yyyy")
                                                                        </th> 
                                                                        <th>
                                                                            <a class="nav-link active" asp-controller="CurrencyItem" asp-action="RemoveRecord" asp-route-Guid="@record.GUID"> Remove </a>
                                                                        </th> 
                                                                    </tr>
                            }
                        }
                    </tbody>
            </table>   
        </div>
        }

    </div>
</body>
</html>

<script>
        var DateToElement = document.getElementById("DateTo");
        DateToElement.style.visibility = 'hidden';
        var DateToLabel = document.getElementById("DateToLabel");
        DateToLabel.style.visibility = 'hidden';
        var DateFromLabel = document.getElementById("DateFromLabel");
        DateFromLabel.innerHTML = 'Rate Date:';
        
        function OnDateFromChange (dateFrom) {
            var DateToElement = document.getElementById("DateTo");
            DateToElement.min = dateFrom.value;
            DateToElement.value = dateFrom.value;
        }
   
        function OnDateToChange (dateTo) {
            var DateFromElement = document.getElementById("DateFrom");
            DateFromElement.max = dateTo.value;
        }

        function buttonClick(button) {
            button.style.visibility = 'hidden';
            button.remove();
            var DateToElement = document.getElementById("DateTo");
            DateToElement.style.visibility = 'visible';
            var DateToLabel = document.getElementById("DateToLabel");
            DateToLabel.style.visibility = 'visible';
            var DateFromLabel = document.getElementById("DateFromLabel");
            DateFromLabel.innerHTML = 'From:';
        }
</script>